.logoDiv{
  margin-top: 3vh;
  font-family: 'Megrim', cursive;
  font-size: 38px;
  color: black;
  font-weight: bold;
}

.navbar-brand{
  /* border: solid black 1px; */
  width: 100%;
  height: 10vh;

}

.vcDiv {
border: solid black 1px;
width: 50%;
display: inline-block;
height: 100vh;
overflow: auto;
}

.mContainer{

  width: 100%;
  height: 100vh;
}

.mapDiv{

width: 50%;
float: right;
display: inline-block;
height: 100vh;
}

.card-body{
  /* border: solid black 1px; */
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
  

}
